<!DOCTYPE html>
<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<html>
<head>
<meta charset="UTF-8">
<title>Module 03 LẬP TRÌNH WEB VỚI JAVA</title>
<link rel="stylesheet" type="text/css" href="/LTV242_MVC/css/css.css">
</head>
<body>
	<div class="panel-login">
		<div class="panel-heading">
			<h2 class="panel-title">Register an Account</h2>
		</div>
		<div class="panel-body">
			<form method="post">
				<p>
					<input type="text" class="form-control" placeholder="Full Name"	name="fullName">
				</p>
				<p>
					<input type="email" class="form-control" placeholder="Email" name="email">
				</p>
				<p>
					<input class="form-control" placeholder="Username" type="text"
						name="usr">
				</p>
				<p>
					<input class="form-control" placeholder="Password" type="password"
						name="pwd">
				</p>
				<p>
					<select name="gender">
						<option value="0">Male</option>
						<option value="1">Female</option>
						<option value="2">Undefined</option>
					</select>
				</p>
				<p>
					<button class="btn btn-primary btn-lg">Register</button>
				</p>
				<p class="center">
					<a href="logon.html">Log On</a>
				</p>
				<p class="center">
					<a href="forgot.html">Forgot Password?</a>
				</p>
			</form>
		</div>
	</div>
</body>
</html>